.form-item{
    text-align: center;
}

input{
    width: 30%;
    padding: 0.5%;
    border: 1px solid black;
    border-radius: 12px;
}

label{
    color:black;
}
h1{
    text-align: center;
    margin-top: 200px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#btn{
    width: 10%;
    margin:auto;
    cursor: pointer;
    
}
#bts{
    width: 15%;
    margin-left: 550px;
    cursor: pointer;
}

#btm{
    width: 10%;
    margin-left: 10px;
    cursor: pointer;
}
body{
    background: url("../material/choc.jpg");
    background-size: cover;
    
    
}